streamlit==1.4.0
pandas==1.3.3
numpy==1.18.1
seaborn==0.11.2
matplotlib==3.5.1
streamlit-lottie==0.0.3
streamlit-option-menu==0.3.2
imutils==0.5.3
interact==0.2
itables==0.4.7
anvil-uplink==0.3.40
appmode==0.8.0
bioread==1.0.4
biosppy==0.6.1
chardet==3.0.4
cmake==3.18.0
Flask-SQLAlchemy==2.4.4
gTTS==2.1.1
ImageHash==4.2.1
jupyter==1.0.0